.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60em;
}

.game-background {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    width: 100%;
    height: 60em;
    position: absolute;
}

#kill-on-sight {
    background-image: url(../images/game_background.png);
}

.game-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    max-width: 75em;
    gap: 25px;
    text-align: left;
}

.game-text h1 {
    color: #fff;
    font-family: "Outfit Bold";
    font-size: 3em;
    margin: 20px 0;
    max-inline-size: 40em;
}

.game-text p {
    color: #fff;
    font-family: "Outfit Regular";
    font-size: 1.5em;
    margin: 0;
    max-inline-size: 30em;
}

.game-button a {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 60px;
    text-decoration: none;
    border-radius: 30px;
    gap: 10px;
    transition: var(--transition-time);
}

.game-button a:hover {
    transform: scale(1.05);
    background-color: #fff;
}

.game-button span {
    color: #000;
    font-family: "Outfit Bold";
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    border-radius: 30px;
    transition: transform var(--transition-time);
}

@media (max-width: 800px) {
    .game {
        height: 40em;
    }

    .game-background {
        height: 40em;
    }

    .game-content {
        text-align: center;
        align-items: center;
    }

    .game-text {
        max-inline-size: 80%;
    }
}