.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60em;
}

.home-background {
    background-image: url(../images/main_background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    width: 100%;
    height: 60em;
    position: absolute;
}

.home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    max-width: 70em;
    gap: 25px;
}

.home-brand img {
    width: 30em;
}

.home-text p {
    color: #fff;
    font-family: "Outfit Medium";
    font-size: 2em;
    margin: 0;
    max-inline-size: 20em;
}

.home-button a {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 30px;
    width: 150px;
    gap: 10px;
    transition: transform var(--transition-time);
}

.home-button a:hover {
    transform: scale(1.05);
}

.home-button span {
    color: var(--white);
    font-family: "Outfit Bold";
    font-size: 1.2em;
    text-decoration: none;
    background-color: var(--blue);
    display: flex;
    border-radius: 30px;
    transition: transform var(--transition-time);
}

.home-button svg {
    width: 1.7em;
}

.home-button path {
    stroke: #fff;
}

.home-divider {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90px;
    transform: rotate(180deg);
}

.home-divider svg {
    width: calc(138% + 1.3px);
    height: 100%;
}

.home-divider .shape-fill {
    fill: var(--white);
}

.featured-game {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fg-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 75em;
    margin: 4em 0;
}

.fg-text h1 {
    color: var(--black);
    font-family: "Outfit Bold";
    font-size: 3em;
    max-inline-size: 20em;
}

.fg-text p {
    color: var(--black);
    font-family: "Outfit Regular";
    font-size: 2em;
    max-inline-size: 20em;
}

.fg-button a {
    background-color: var(--blue);
    color: #fff;
    font-family: "Outfit Bold";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 30px;
    width: 150px;
    gap: 10px;
    transition: transform var(--transition-time);
}

.fg-button a:hover {
    transform: scale(1.05);
}

.fg-button svg {
    width: 1.7em;
}

.fg-button path {
    stroke: #fff;
}

.fg-video iframe {
    border: 0;
    width: 25em;
    height: 14em;
}

.job-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15em;
}

.job-background {
    background-image: url(../images/job_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    width: 100%;
    height: 15em;
    position: absolute;
}

.job-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 75em;
    gap: 25px;
    text-align: center;
}

.job-text span {
    color: #fff;
    font-family: "Outfit Bold";
    font-size: 3em;
    margin: 0;
    max-inline-size: 40em;
}

.job-button a {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 30px;
    gap: 10px;
    transition: transform var(--transition-time);
}

.job-button a:hover {
    transform: scale(1.05);
}

.job-button svg {
    width: 1.2em;
}

.job-button path {
    fill: #fff;
}

.job-button span {
    color: var(--white);
    font-family: "Outfit Bold";
    font-size: 1.2em;
    text-decoration: none;
    background-color: var(--blue);
    display: flex;
    border-radius: 30px;
    transition: transform var(--transition-time);
}

@media (max-width: 800px) {
    .home-content {
        max-width: 70%;
    }

    .featured-game {
        height: 60em;
    }

    .fg-content {
        flex-direction: column;
        max-height: 50em;
        max-width: 70%;
    }

    .fg-video iframe {
        width: 18em;
        height: 10em;
    }

    .job-banner {
        height: 20em;
    }

    .job-background {
        height: 20em;
    }

    .job-content {
        flex-direction: column;
        justify-content: space-between;
        max-height: 12em;
    }
}