.navbar {
    background-color: var(--white);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    z-index: 99;
    position: fixed;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60%;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
}

.navbar-brand img {
    width: 3em;
}

.navbar-nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    width: 100%;
}

.navbar-nav a {
    color: #000000a4;
    font-family: "Outfit Medium";
    font-size: 1.2em;
    text-decoration: none;
    transition: color var(--transition-time);
    position: relative;
    padding: 41px 0;
}

.navbar-nav a::before {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    height: 2px;
    width: 0;
    background: var(--blue);
    border-radius: 50px;
    transition: width 0.3s ease;
}

.navbar-nav a:hover {
    color: var(--black);
}

.navbar-nav a:hover::before {
    width: 100%;
}

#current-section {
    color: var(--black);
}

#current-section::before {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    height: 2px;
    width: 100%;
    background: var(--blue);
    border-radius: 50px;
    transition: width 0.3s ease;
}

.navbar-contact a {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 30px;
    gap: 10px;
    transition: transform var(--transition-time);
    box-shadow: 0px 5px 10px 0px #bebebe;
}

.navbar-contact a:hover {
    transform: scale(1.05);
}

.navbar-contact svg {
    width: 1.2em;
}

.navbar-contact path {
    fill: var(--white);
}

.navbar-contact span {
    color: var(--white);
    font-family: "Outfit Bold";
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    border-radius: 30px;
    transition: transform var(--transition-time);
}

.navbar-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    gap: 5px;
    cursor: pointer;
    background-color: transparent;
}

.navbar-mobile-item {
    background-color: var(--white);
    width: 25px;
    height: 3px;
    border-radius: 5px;
}

.main {
    padding-top: 90px;
}

.mobile-navbar {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    z-index: 98;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translateX(100%);
    transition: transform var(--transition-time);
}

.mobile-navbar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 60%;
    height: 100%;
    gap: 3em;
}

.mobile-logo-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.mobile-navbar-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    width: 100%;
    padding: 0;
    text-align: center;
}

.mobile-navbar-nav a {
    color: #000000a4;
    font-family: "Outfit Medium";
    font-size: 1.2em;
    text-decoration: none;
    transition: color var(--transition-time);
}

.mobile-navbar-nav a:hover {
    color: var(--black);
}

#mobile-current-section {
    color: var(--black);
}

.mobile-navbar-contact a {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 30px;
    gap: 10px;
    transition: transform var(--transition-time);
    box-shadow: 0px 5px 10px 0px #bebebe;
}

.mobile-navbar-contact a:hover {
    transform: scale(1.05);
}

.mobile-navbar-contact svg {
    width: 1.2em;
}

.mobile-navbar-contact path {
    fill: var(--white);
}

.mobile-navbar-contact span {
    color: var(--white);
    font-family: "Outfit Bold";
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    border-radius: 30px;
    transition: transform var(--transition-time);
}

@media (max-width: 800px) {
    .navbar-nav {
        display: none;
    }

    .navbar-contact {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }
}