.footer {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid #000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 70em;
    max-height: 20em;
    margin: 5em 0;
}

.nav-brand-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 4em;
}

.footer-brand img {
    width: 12em;
}

.footer-social ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;
}

.footer-social svg,
path {
    width: 1.5em;
    fill: #000000a4;
}

.nav-links {
    display: flex;
    justify-content: center;
}

.nav-column h2 {
    color: var(--black);
    font-family: "Outfit Bold";
}

.nav-column ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.nav-column a {
    color: #000000a4;
    font-family: "Outfit Medium";
    font-size: 1.2em;
    text-decoration: none;
    transition: opacity var(--transition-time);
    text-align: left;
}

@media (max-width: 800px) {
    .footer {
        height: 45em;
    }

    .footer-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-height: 30em;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .nav-links ul {
        padding: 0;
    }
}